body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.top_nav {
  display: flex;
  flex-direction: row;
  margin: 15px;
  gap: 2em;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #202d40;
  background-color: #f2f2f2;
  background-image: url ('images/background_new.jpeg');
}

.top_nav a {
  text-decoration: none;
  color: black;
}

.top_nav a:hover {
  text-decoration: none;
  color: green;
}
.top_nav img {
  width: 30px;
  height: 30px;
}

.hero {
  background-color: #f25c05;
  height: 175px;
  vertical-align: middle;
}
h4 {
  padding: 5px;
  margin: 0 0 0 320px;
  font-family: sans-serif;
  font-size: 1.15rem;
  font-weight: 200;
  letter-spacing: 0.04rem;
  color: #f2f2f2;
  text-transform: uppercase;
}

.maincontent {
  display: grid;
  grid-template-columns: 15em 50vw 15em;
  grid-template-areas:
    'intro intro intro'
    'sidebar main main'
    'footer footer footer';
  gap: 1em;
}

/* .sidebar {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}

.hero {
  grid-area: hero;
} */

.recipecard {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-rows: 1fr 1fr 4fr 1fr; */

  grid-template-areas:
    'name .'
    'cat flag'
    'image content'
    'tag tag';
  /* flex-direction: row;
  justify-content: flex-start; */
  gap: 1em;
  border: solid;
  border-width: 1px;
  border-radius: 5%;
}

.title {
  grid-area: name;
}

.cat {
  grid-area: cat;
}

.flag {
  grid-area: flag;
}

.image {
  grid-area: image;
}

.tag {
  grid-area: tag;
}
.content {
  grid-area: content;
}

.recipecard h2 {
  font-family: sans-serif;
  font-weight: 200;
  color: #202d40;
}
.recipecard img {
  max-height: 550px;
}

.recipecard_category {
  background-color: #db4a2b;
  border-radius: 5px;
}

.recipetag {
  /* display: flex;
  flex-direction: row; */
  /* grid-area: tag; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}
